
/* CSS FOR HEADER  */ 
.text-body-secondary {
    --bs-text-opacity: 0;
    color: #212529 !important;
}


/* SKILLS */
/* SECTION 2: Skills */
.skills-section {
  padding: 0 50px;
  margin-bottom: 100px;
}

.skills-section h2 {
  text-align: center;
  font-size: 35px;
}

.skills-section .text {
  text-align: center;
  margin-bottom: 20px;
}

.skills-section .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-section .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 200px;
  padding: 10px 20px;
  margin: 10px;
  border: 1.5px solid #d3d3d3;
  border-radius: 5px;
}

.skills-section .cells .cell img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 2px;
}

.skills-section .cells .cell span {
  font-size: 18px;
}

header {
    height: 120px;
}
header h1 {
    float: left;
    margin-top: 32px;
}
header h1 .color {
    color: black;
}
header nav {
    float: right;
}
header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 50px;
}
header nav ul li a {
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin-right: 20px;
}
header a{
  text-decoration: none;
}
.text-center{
  color: black;
}

/* TIMELINE*/

      /* */.container {
        position: relative;
        text-align: center;
        color: black;
      }
      .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      
      
        /* The actual timeline (the vertical ruler) */
      .main-timeline-2 {
          position: relative;
        }
        
        /* The actual timeline (the vertical ruler) */
        .main-timeline-2::after {
          content: "";
          position: absolute;
          width: 3px;
          background-color: #26c6da;
          top: 0;
          bottom: 0;
          left: 50%;
          margin-left: -3px;
        }
        
        /* Container around content */
        .timeline-2 {
          position: relative;
          background-color: inherit;
          width: 50%;
        }
        
        /* The circles on the timeline */
        .timeline-2::after {
          content: "";
          position: absolute;
          width: 25px;
          height: 25px;
          right: -11px;
          background-color: #26c6da;
          top: 15px;
          border-radius: 50%;
          z-index: 1;
        }
        
        /* Place the container to the left */
        .left-2 {
          padding: 0px 40px 20px 0px;
          left: 0;
        }
        
        /* Place the container to the right */
        .right-2 {
          padding: 0px 0px 20px 40px;
          left: 50%;
        }
        
        /* Add arrows to the left container (pointing right) */
        .left-2::before {
          content: " ";
          position: absolute;
          top: 18px;
          z-index: 1;
          right: 30px;
          border: medium solid white;
          border-width: 10px 0 10px 10px;
          border-color: transparent transparent transparent white;
        }
        
        /* Add arrows to the right container (pointing left) */
        .right-2::before {
          content: " ";
          position: absolute;
          top: 18px;
          z-index: 1;
          left: 30px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
        
        /* Fix the circle for containers on the right side */
        .right-2::after {
          left: -14px;
        }
        
        /* Media queries - Responsive timeline on screens less than 600px wide */
        @media screen and (max-width: 600px) {
          /* Place the timelime to the left */
          .main-timeline-2::after {
            left: 31px;
          }
        
          /* Full-width containers */
          .timeline-2 {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
          }
        
          /* Make sure that all arrows are pointing leftwards */
          .timeline-2::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
          }
        
          /* Make sure all circles are at the same spot */
          .left-2::after,
          .right-2::after {
            left: 18px;
          }
        
          .left-2::before {
            right: auto;
          }
        
          /* Make all right containers behave like the left ones */
          .right-2 {
            left: 0%;
          }
        }
      
        
      
      
      
      body {
          font-family: 'Lato', sans-serif;
      }
      
      h1 {
          margin-bottom: 40px;
      }
      
      label {
          color: #333;
      }
      
      .btn-send {
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 0.2em;
          width: 80%;
          margin-left: 3px;
          }
      .help-block.with-errors {
          color: #ff5050;
          margin-top: 5px;
      
      }
      
      .card{
          margin-left: 10px;
          margin-right: 10px;
      }
      
      
      .lead{
        color: black;
      }
      
      h1{
        color: black;
        text-align: center;
      }
      
      
      
      
      
      @import url("https://fonts.googleapis.com/css?family=Lobster&display=swap")
        repeat scroll 0 0 rgba(0, 0, 0, 0);
      
      body {
        background: #fff;
      }
      
      .title {
        font-size: 2.5rem;
        font-family: "Lobster", cursive;
      }
      
      .wrapper {
        animation: scroll 100s linear infinite;
        background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"),
          #111111;
        color: #eee;
        height: 100vh;
        min-width: 360px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        perspective: 1000px;
        perspective-origin: 50% 50%;
      }
      
      @keyframes scroll {
        100% {
          background-position: 0px -400%;
        }
      }
      
      /* Fallback if the operatring system prefers reduced motion*/
      @media (prefers-reduced-motion) {
        .wrapper {
          animation: scroll 800s linear infinite;
        }
      }
      
      @media (min-width: 670px) {
        .title {
          font-size: 5rem;
        }
      }
      
      .navbar-inner {
        background:transparent;
      }
      
      /* DATA SCINCE */
      
      .text-body-secondary {
        --bs-text-opacity: 0;
        color: #212529 !important;
      }
      
      
      
      
      
  
/* CSS FOR TIMELINE*/
      body {
        color: #213546;
        background: #ffffff;
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .title {
        position: relative;
        margin-top: 30px;
        width: 100%;
        text-align: center;
      }
      
      .timeline {
        position: relative;
        width: 100%;
        padding: 30px 0;
      }
      
      .timeline .timeline-container {
        position: relative;
        width: 100%;
      }
      
      .timeline .timeline-end,
      .timeline .timeline-start,
      .timeline .timeline-year {
        position: relative;
        width: 100%;
        text-align: center;
        z-index: 1;
      }
      
      .timeline .timeline-end p,
      .timeline .timeline-start p,
      .timeline .timeline-year p {
        display: inline-block;
        width: 80px;
        height: 80px;
        margin: 0;
        padding: 30px 0;
        text-align: center;
        background: linear-gradient(#0e0f10, #141515);
        border-radius: 100px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
      }
      
      .timeline .timeline-year {
        margin: 30px 0;
      }
      
      .timeline .timeline-continue {
        position: relative;
        width: 100%;
        padding: 60px 0;
      }
      
      .timeline .timeline-continue::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -1px;
        background: #4F84C4;
      }
      
      .timeline .row.timeline-left,
      .timeline .row.timeline-right .timeline-date {
        text-align: right;
      }
      
      .timeline .row.timeline-right,
      .timeline .row.timeline-left .timeline-date {
        text-align: left;
      }
      
      .timeline .timeline-date {
        font-size: 14px;
        font-weight: 600;
        margin: 41px 0 0 0;
      }
      
      .timeline .timeline-date::after {
        content: '';
        display: block;
        position: absolute;
        width: 14px;
        height: 14px;
        top: 45px;
        color: black;
        background: linear-gradient(#343638, #090909);
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
        border-radius: 15px;
        z-index: 1;
      }
      
      .timeline .row.timeline-left .timeline-date::after {
        left: -7px;
      }
      
      .timeline .row.timeline-right .timeline-date::after {
        right: -7px;
      }
      
      .timeline .timeline-box,
      .timeline .timeline-launch {
        position: relative;
        display: inline-block;
        margin: 15px;
        padding: 20px;
        border: 1px solid #dddddd;
        border-radius: 6px;
        background: #ffffff;
      }
      
      .timeline .timeline-launch {
        width: 100%;
        margin: 15px 0;
        padding: 0;
        border: none;
        text-align: center;
        background: transparent;
      }
      
      .timeline .timeline-box::after,
      .timeline .timeline-box::before {
        content: '';
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
      }
      
      .timeline .row.timeline-left .timeline-box::after,
      .timeline .row.timeline-left .timeline-box::before {
        left: 100%;
      }
      
      .timeline .row.timeline-right .timeline-box::after,
      .timeline .row.timeline-right .timeline-box::before {
        right: 100%;
      }
      
      .timeline .timeline-launch .timeline-box::after,
      .timeline .timeline-launch .timeline-box::before {
        left: 50%;
        margin-left: -10px;
      }
      
      .timeline .timeline-box::after {
        top: 26px;
        border-color: transparent transparent transparent #ffffff;
        border-width: 10px;
      }
      
      .timeline .timeline-box::before {
        top: 25px;
        border-color: transparent transparent transparent #dddddd;
        border-width: 11px;
      }
      
      .timeline .row.timeline-right .timeline-box::after {
        border-color: transparent #ffffff transparent transparent;
      }
      
      .timeline .row.timeline-right .timeline-box::before {
        border-color: transparent #dddddd transparent transparent;
      }
      
      .timeline .timeline-launch .timeline-box::after {
        top: -20px;
        border-color: transparent transparent #151313 transparent;
      }
      
      .timeline .timeline-launch .timeline-box::before {
        top: -19px;
        border-color: transparent transparent #101010 transparent;
        border-width: 10px;
        z-index: 1;
      }
      
      .timeline .timeline-box .timeline-icon {
        position: relative;
        width: 40px;
        height: auto;
        float: left;
      }
      
      .timeline .timeline-icon i {
        font-size: 25px;
        color: #4F84C4;
      }
      
      .timeline .timeline-box .timeline-text {
        position: relative;
        width: calc(100% - 40px);
        float: left;
      }
      
      .timeline .timeline-launch .timeline-text {
        width: 100%;
      }
      
      .timeline .timeline-text h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 3px;
        color: black;
      }
      
      .timeline .timeline-text p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
        color: black;
      }
      
      @media (max-width: 768px) {
        .timeline .timeline-continue::after {
          left: 40px;
        }
      
        .timeline .timeline-end,
        .timeline .timeline-start,
        .timeline .timeline-year,
        .timeline .row.timeline-left,
        .timeline .row.timeline-right .timeline-date,
        .timeline .row.timeline-right,
        .timeline .row.timeline-left .timeline-date,
        .timeline .timeline-launch {
          text-align: left;
        }
      
        .timeline .row.timeline-left .timeline-date::after,
        .timeline .row.timeline-right .timeline-date::after {
          left: 47px;
        }
      
        .timeline .timeline-box,
        .timeline .row.timeline-right .timeline-date,
        .timeline .row.timeline-left .timeline-date {
          margin-left: 55px;
        }
      
        .timeline .timeline-launch .timeline-box {
          margin-left: 0;
        }
      
        .timeline .row.timeline-left .timeline-box::after {
          left: -20px;
          border-color: transparent #ffffff transparent transparent;
        }
      
        .timeline .row.timeline-left .timeline-box::before {
          left: -22px;
          border-color: transparent #dddddd transparent transparent;
        }
      
        .timeline .timeline-launch .timeline-box::after,
        .timeline .timeline-launch .timeline-box::before {
          left: 30px;
          margin-left: 0;
        }
      }



      .col-lg-6 h1{
        color: black;
      }

      .col-lg-7 h1{
        color: black;
      }

  


      